.app_root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;

}

.app_root > div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%
}


.auth_root {
    justify-content: center;
    align-content: center;
    text-align: start;
    flex-wrap: wrap;
}

.auth_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    gap: 18px;

    max-width: 500px;
    min-width: 250px;
    min-height: 500px;

    width: 100%;
    border: 2px solid var(--colorNeutralStroke1);
    padding: var(--spacingHorizontalXXXL);
    border-radius: var(--borderRadiusXLarge);
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
}

.flex.col {
    flex-direction: column;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.col-1 {
    flex: 0 0 8.333%;
    max-width: 8.333%;
}

.col-2 {
    flex: 0 0 16.666%;
    max-width: 16.666%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
}

.col-5 {
    flex: 0 0 41.666%;
    max-width: 41.666%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.333%;
    max-width: 58.333%;
}

.col-8 {
    flex: 0 0 66.666%;
    max-width: 66.666%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 0 0 83.333%;
    max-width: 83.333%;
}

.col-11 {
    flex: 0 0 91.666%;
    max-width: 91.666%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}