@tailwind utilities;

.app_root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;

}

.app_root > div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%
}


.auth_root {
    justify-content: center;
    align-content: center;
    text-align: start;
    flex-wrap: wrap;
}

.auth_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    gap: 18px;

    max-width: 500px;
    min-width: 250px;
    min-height: 500px;

    width: 100%;
    border: 2px solid var(--colorNeutralStroke1);
    padding: var(--spacingHorizontalXXXL);
    border-radius: var(--borderRadiusXLarge);
    box-sizing: border-box;
}

